<!--
  Generated template for the ApiPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar #content>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      SimSimV2 - TraktTV
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
        <h1>Trending on TraktTV</h1>
    </ion-item>
  </ion-list>
  <div *ngIf="count > 9">
  <ion-card *ngFor="let info of traktInfo">
  <img src="https://image.tmdb.org/t/p/w500{{info.tmdb.backdrop_path}}"/>
  <ion-card-content>
    <ion-card-title>
      {{info.movie.title}}
    </ion-card-title>
    <p>
      {{info.tmdb.overview}}
    </p>
  </ion-card-content>
  <ion-row>
    <ion-col text-center>
      <ion-note>
        Realease: {{info.tmdb.release_date}}
      </ion-note>
    </ion-col>
    <ion-col text-center>
      <ion-note>
        {{info.tmdb.runtime}} min
      </ion-note>
    </ion-col>
  </ion-row>
  </ion-card>
  </div>
</ion-content>
