<ion-header>
  <ion-navbar #content>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      SimSimV2 - Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Hello <ion-icon name="happy"></ion-icon></h1>
  <ion-item>
    <button ion-button (click)="presentLoading()">Get GeoLocation</button>
    <div *ngIf="geoData != null">
      lat: {{geoData.lat}}<br>
      lon: {{geoData.lon}}<br>
    </div>
  </ion-item>
  <ion-item>
    <button ion-button (click)="getNewImage()">NewImage</button>
  </ion-item>
  <h3 *ngIf="source != null">{{source.title}}</h3>
  <img *ngIf="source != null" [src]='source.preview.images[0].variants.gif.source.url' style="width: 100%;">
  <ion-item>
    <button ion-button (click)="openTraktPage()">Open Trakt API Stuff</button>
  </ion-item>
</ion-content>
